<div class="view">
  <section class="rooms">
    <app-chat-card (click)="onClickChat('testId')"></app-chat-card>
    <app-chat-card (click)="onClickChat('testId')"></app-chat-card>
    <app-chat-card (click)="onClickChat('testId')"></app-chat-card>
  </section>

  <section class="room">
    <app-msg-card-right></app-msg-card-right>
    <app-msg-card-left></app-msg-card-left>
    <app-msg-card-left></app-msg-card-left>
    <app-msg-card-left></app-msg-card-left>
    <app-msg-card-left></app-msg-card-left>
    <app-msg-card-left></app-msg-card-left>
    <app-msg-card-left></app-msg-card-left>
    <app-msg-card-left></app-msg-card-left>
    <app-msg-card-left></app-msg-card-left>
    <app-msg-card-left></app-msg-card-left>
    <app-msg-card-left></app-msg-card-left>
    <app-msg-card-left></app-msg-card-left>
    <app-msg-card-right></app-msg-card-right>

    <section class="msg-input">
      <app-msg-input></app-msg-input>
    </section>
  </section>
</div>
