<div class="view">
  <section class="room">
    <app-msg-card-right></app-msg-card-right>
    <app-msg-card-left></app-msg-card-left>
    <app-msg-card-left></app-msg-card-left>
    <app-msg-card-left></app-msg-card-left>
    <app-msg-card-left></app-msg-card-left>
    <app-msg-card-left></app-msg-card-left>
    <app-msg-card-left></app-msg-card-left>
    <app-msg-card-left></app-msg-card-left>
    <app-msg-card-left></app-msg-card-left>
    <app-msg-card-left></app-msg-card-left>
    <app-msg-card-left></app-msg-card-left>
    <app-msg-card-left></app-msg-card-left>
    <app-msg-card-right></app-msg-card-right>
    <app-msg-card-right></app-msg-card-right>
    <app-msg-card-left></app-msg-card-left>
  </section>

  <section class="msg-input">
    <app-msg-input></app-msg-input>
  </section>
</div>
