<div class="card">
  <div class="image">
    <img class="image__img" src="https://github.githubassets.com/images/modules/logos_page/Octocat.png" />
  </div>
  <div class="content">
    <div class="header">
      <div class="header__info">
        <p class="header__info__name">Tanaka Hanako</p>
        <p class="header__info__time">12:14</p>
      </div>
    </div>
    <div class="body">
      <p class="body__msg">Testing text chat application</p>
    </div>
    <div class="footer"></div>
  </div>
</div>
